.add-sample-wrapper {
  margin: auto;
  position: relative;
}

h2 {
  text-align: center;
}

.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
