<h2 mat-dialog-title>
  Modify existing sample
</h2>
<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Column A" [(ngModel)]="sample.columnA">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Column B" [(ngModel)]="sample.columnB">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Column C" [(ngModel)]="sample.columnC">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Column D" [(ngModel)]="sample.columnD">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Column E" [(ngModel)]="sample.columnE">
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="this.sample">Submit</button>
    <button mat-button mat-dialog-close>Dismiss</button>
  </mat-dialog-actions>
</div>
