* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
}

.sample-wrapper {
  margin: auto;
  position: relative;
}

.spinner-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}

mat-spinner {
  margin: 0 auto;
  top: 30%;
}